// 混合--设置背景图
@mixin bg-img( $imgurl ){
  background-image: url($imgurl);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
// 混合--垂直水平居中
@mixin center(){
  display: flex;
  justify-content: center;
  align-items: center;
}
// 混合--一行超出省略号显示
@mixin ellipsis(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}